WeatherConsloleApp/bin
WeatherConsloleApp/obj
WeatherConsloleApp/api/bin
WeatherConsloleApp/api/obj
WeatherConsloleApp/api/Properties
WeatherConsloleApp/api/appsettings.Development.json
WeatherConsloleApp/api/appsettings.json
api/bin
api/obj
api/Properties
api/appsettings.Development.json
api/appsettings.json
WeatherConsloleApp/.cache

Frontend/node_modules

Backend/bin
Backend/obj
Backend/Properties
Backend/appsettings.Development.json
Backend/appsettings.json
Backend/Migrations
Backend/.env
